---
layout: default
title: LFE Tutorials, News,  &amp; Updates
tagline: A BEAM Language Blog for the Syntaxless Ones
theme:
  name: lfe
---
{% include JB/setup %}
    <div class="wrapper feature">
      <img src="{{ ASSET_PATH }}/images/lfescreen.png" class="lfescreen" alt="LFE Screen">
      <div class="intro-group">
        <h1>
          The LFE Blog:<br>
          Tutorials, Updates,<br>
          News, & Miscellany
        </h1>
        <p class="intro">A BEAM Language Journal of Coding Coffeehouse Jazz for
          Syntaxless Beatnicks.<br />It's snappy!</p>
        <a href="https://github.com/lfe/blog#workflow" class="button">Submit a Post!</a>
      </div>
    </div>

    <div class="full-width-divider">
      <ul class="wrapper highlights">
        <li class="highlight-module">
          <a href="http://planeterlang.com/"><span class="mega-octicon octicon-heart"></span></a>
          <h2><a href="http://planeterlang.com/">Planet&nbsp;Erlang</a></h2>
          <p>We're a proud member!</p>
        </li>
        <li class="highlight-module">
          <a href="http://docs.lfe.io/"><span class="mega-octicon octicon-book"></span></a>
          <h2><a href="http://docs.lfe.io/">docs.lfe.io</a></h2>
          <p>Your LFE reference materials.</p>
        </li>
      </ul>
    </div>

    <div class="wrapper">
      <div class="container">
        <div class="content">

          {% for post in paginator.posts %}
          <div class="row">
            <div class="span12">
              <div class="row">
                <div class="span5">
                  <h2>
                    <strong><a href="{{ post.url }}">{{ post.title }}</a></strong>
                  </h2>
                  <h4>{{ post.description }}</h4>
                  <p>
                    {{ post.excerpt }}
                    <br />
                    <a href="{{ post.url }}">Read more</a>
                  </p>
                  <p>
                    <i class="icon-user"></i><span><a href="{{ BASE_PATH }}{{ site.JB.authors_path }}#{{ post.author }}">{{ post.author }}</a></span> | <i class="icon-calendar"></i> {{ post.date | date: "%B %e, %Y" }}
                    | <i class="icon-tags"></i> Tags :{% for tag in post.tags %} <a href="/tags.html#{{ tag }}-ref" rel="tooltip" title="View posts tagged with &quot;{{ tag }}&quot;"><span class="tags badge label">{{ tag }}</span></a>  {% if forloop.last != true %} {% endif %} {% endfor %}
                  </p>
                </div>
              </div>
              <hr>
            </div>
          </div>
          {% endfor %}

        </div>
      </div> <!-- /container -->
    </div>
