---
layout: default
title: LFE Tutorials, News,  &amp; Updates
tagline: A BEAM Language Blog for the Syntaxless Ones
---
{% include JB/setup %}
<div class="page-header-wrapper">
        <div class="page-header">
                <h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
                <p class="subtagline">
                   <span>A proud member of
                         <a href="http://planeterlang.com/">PlanetErlang</a>
                   </span>
                   <span class="meddot">&#9679;</span>
                   <span>Got some LFE news?
                         <a href="https://github.com/lfe/blog/fork">Fork us</a>
                         and make a PR!
                   </span>
                </p>
        </div>
</div>
{% for post in paginator.posts %}
<div class="row">
  <div class="span7">
    <div class="row">
      <div class="span5">
        <h2>
          <strong><a href="{{ post.url }}">{{ post.title }}</a></strong>
        </h2>
        <h4>{{ post.description }}</h4>
        <p>
          {{ post.excerpt }}
          <br />
          <a href="{{ post.url }}">Read more</a>
        </p>
        <p>
          <i class="icon-user"></i><span><a href="{{ BASE_PATH }}{{ site.JB.authors_path }}#{{ post.author }}">{{ post.author }}</a></span> | <i class="icon-calendar"></i> {{ post.date | date: "%B %e, %Y" }}
          | <i class="icon-tags"></i> Tags :{% for tag in post.tags %} <a href="/tags.html#{{ tag }}-ref" rel="tooltip" title="View posts tagged with &quot;{{ tag }}&quot;"><span class="tags badge label">{{ tag }}</span></a>  {% if forloop.last != true %} {% endif %} {% endfor %}
        </p>
      </div>
    </div>
    <hr>
  </div>
</div>
{% endfor %}
